# Import all Libraries

In [2]:
import pandas as pd
import re
import math

In [3]:
MAIN_FILE = 'MMDA_raw.csv'

mmda_df = pd.read_csv(MAIN_FILE)

In [4]:
mmda_df.head()

,id,created_at,full_text,in_reply_to_status_id
0,20104552522,2010-08-02 01:53:53,MMDA traffic updates as of 9:45 am EDSA northb...,NaN
1,20104490122,2010-08-02 01:52:53,MMDA traffic updates as of 9:45 am EDSA northb...,NaN
2,20104390909,2010-08-02 01:51:18,MMDA traffic updates as of 9:45 am EDSA southb...,NaN
3,20104323508,2010-08-02 01:50:17,MMDA traffic updates as of 9:45 am EDSA southb...,NaN
4,20103470216,2010-08-02 01:35:55,Sorry for the all caps. Unintentional. Wont ha...,NaN

In [5]:
mmda_df.shape

(771251, 4)

In [6]:
mmda_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 771251 entries, 0 to 771250
Data columns (total 4 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     771251 non-null  int64
 1   created_at             771251 non-null  object
 2   full_text              771251 non-null  object
 3   in_reply_to_status_id  578307 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 23.5+ MB

In [7]:
template = 'MMDA ALERT: (.*?) at (.*?) involving (.*?) as of (.*?)\. (.*?)\.'

matches = []

for x in range(len(mmda_df)):
    try:
        line = mmda_df['full_text'][x]
        matches.append(re.findall(template, line)[0])
    except:
        m = 0

In [8]:
test = pd.DataFrame(matches)

In [9]:
test.head(10)

,0,1,2,3,4
0,Vehicular accident,EDSA Buendia NB,bus and AUV,9:40 PM,1 lane occupied
1,Vehicular accident,EDSA after F/O SB,van and car,9:34 PM,1 lane occupied
2,Vehicular accident,C5 Katipunan CP. Garcia NB,AUV and truck,7:02 PM,1 lane occupied
3,Vehicular accident,EDSA Kalayaan NB,2 cars,6:35 PM,1 lane occupied
4,Vehicular accident,EDSA vv. Soliven SB,2 cars,11:29 PM,1 lane occupied
5,Vehicular accident,Quezon Ave. Roces EB,car and PUJ,9:05 PM,1 lane occupied
6,Vehicular accident,C5 Lanuza Intersection NB,2 cars,8:19 PM,1 lane occupied
7,Vehicular accident,Marcos Highway Ligaya EB,PUJ and bus,7:25 PM,1 lane occupied
8,Vehicular accident,C5 Lanuza SB,AUV and car,7:27 PM,2 lanes occupied
9,Self-accident,C5 Boni Serrano Tunnel SB,motorcycle,7:50 AM,1 lane occupied

In [10]:
test.shape

(22269, 5)